{
      "node": "{{ graylog_inputs[item]['node']|default('')}}",
      "global": {{ graylog_inputs[item]['global']|default('true')|lower }},
      "title": "{{ graylog_inputs[item]['titel'] }}",
      "configuration": {
{% for k,v in graylog_inputs[item]['configuration'].items() %}
	"{{ k }}": {{ v }}{% if not loop.last %},{% endif %}

{% endfor %}
      },
      "type": "{{ graylog_inputs[item]['type'] }}"
}